In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [4]:
import pandas as pd
import numpy as np
import networkx as nx
import sklearn.feature_extraction as skfeatures

import time
import os

import seaborn as sns
sns.set_style('white')
import matplotlib.pylab as plt

import utils

path2rawdata = '/media/sree/26983D285B523AA4/scisci-data'

In [5]:
impact_df = utils.load_impact_data(name = 'impact', 
                                   path2rawdata = path2rawdata,
                                   year_list = None, 
                                   columns = ['ArticleID', 'PubYear', 'c10', 'c5', 'c5noself'],
                                   dropna = ['ArticleID', 'PubYear'], 
                                   duplicate_subset = None,
                                   isindict = {},
                                   verbose = 50)

50
100
Final DF Shape (20554, 5)

In [6]:
impact_df.head()

         ArticleID  PubYear  c10   c5  c5noself
0  000202611200103     1908  0.0  0.0       0.0
1  000202753300004     1908  0.0  0.0       0.0
2  000205577200018     1908  0.0  0.0       0.0
3  000200961500196     1908  0.0  0.0       0.0
4  000200946400428     1908  0.0  0.0       0.0

In [7]:
# Using c5 - citiations the paper has created in the 5 years following its publication

impact_df['c5'].unique()

array([ 0.,  1., 11.,  5.,  2.,  4.,  3.,  7.,  6.,  8.,  9., 12., 10.,
       15., 21., 13.])

In [8]:
# adding 1 to all the citation counts (for easiness of log scale calculations)

impact_df['mod_c5'] = impact_df['c5'].apply(lambda x: x+1)

In [9]:
impact_df.head()

         ArticleID  PubYear  c10   c5  c5noself  mod_c5
0  000202611200103     1908  0.0  0.0       0.0     1.0
1  000202753300004     1908  0.0  0.0       0.0     1.0
2  000205577200018     1908  0.0  0.0       0.0     1.0
3  000200961500196     1908  0.0  0.0       0.0     1.0
4  000200946400428     1908  0.0  0.0       0.0     1.0